@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-family: 'PT Sans', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 10% auto 300px;
    grid-template-rows: 50px;
    grid-template-areas: "logo . items";
    background-color: #0fad33;
    align-items: center;
    
}
.header .h-center form{
    display: block;
    margin-top: 20px;
}
.header .h-center .search{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: #0fad33;
    margin-left: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}   
.header .h-center .search::placeholder{
    text-align: center;
    color: #0fad33;
}
.header .h-center .search:focus{
    outline: none;
}
.header .h-right{
    display: inline-grid;
    float: right;
    grid-area: items;
    margin-right: 25px;
}


.header .h-right ul{
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;

}
.header .h-right ul li{
    position: relative;
    font-size: 18pt;
    float: right;
    padding-left: 30px;
}
.header .h-right ul li:hover{
    animation: bigger 0.4s ease-in-out;
    animation-fill-mode:both;

}
.header .h-right ul li a{
    color: rgb(255, 255, 255);
}


.header .h-left{
    font-size: 18pt;
    grid-area: logo;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
    
}
body{
    background-image: url('1.png');
    image-rendering: optimizeSpeed;
}
.body{
    width: 100vw;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: fit-content;
    grid-template-areas: "col1 col2 col3";
    height: 1080px;
}

.body .col1, .body .col2, .body .col3{    
    height: 100%;
    margin-bottom: 50px;

}
.body .col1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "profil"
        "."
    ;
}
.body .col1 .profile{
    border: 1px #0fad33 solid;
    margin-top: 50px !important;
    grid-area: profil;
    width: 80%;
    height: 300px;
    background-color: whitesmoke;
    display: block;
    margin: 20px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: auto;
    

}
.profile ul{
    padding-left: 0;
    text-align: center;
}
.profile ul li{
    text-align: center;
    display: inline-block;
}

.body .col2{
    padding: 10px;
    border: 1px solid #0fad33;
    background-color: white;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
        "comment1"
        "comment2"
        "comment3"
        "comment4"
    ;
}
.body .col2 .com1{
    border: #0fad33 1px solid;
    display: grid;
    margin: 10px;
    border-radius: 15px;
    grid-template-columns: 10% 90%;
    height: auto;
    grid-area: "profile comment";
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.body .col2 .com1 .pp{
    display: inline-grid;
    margin-left: 25px;
    font-size: 25pt;
    margin-right: 25px;
}
.body .col2 .com1 .comment{
    margin: 60px;
    height: auto;
    display: inline-block;
    font-size: 10pt;
    justify-self: end;
    margin-right: 30px;
}
.body .col2 .com1 .action{
    margin-top: 3px !important;
    padding: 0;
}
.body .col2 .com1 .comment .action ul{
    text-align: right;
    width: 100%;
    margin-bottom: 5px;

}
.body .col2 .com1 .comment .action ul li{

    float: left;
    list-style-type: none;
    text-decoration: none;
    padding-right: 30px;
    margin-right: 0;
}
.body .col2 .com1 .comment .action ul li a{
    color: #0fad33;
    text-decoration: none;
    padding: 3px;

}
.body .col2 .com1 .comment .action ul li .help{
    background-color: white;
    margin-right: 0px;
    border: #0fad33 1px solid;
    border-radius: 10px;
}
.body .col2 .com1 .comment .action ul li .help:hover{
    transition: all .4s ease-in;
    background-color: #0fad33;
    color: white;
    border: white 1px solid;
}

.body .col3 .leaderboard{
    height: auto;
    background-color:rgb(245, 245, 245);
    margin-top: 50px !important;
    margin: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
    text-align: center;
    border: #0fad33 solid 1px ;
}
.body .col3 .leaderboard table tr th{
    border-bottom: #0fad33 solid 1px;

}
.body .col3 .leaderboard table tr td{
    text-align: center;
    border-bottom: #0fad33 solid 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.body .col3 .sup{
    margin-right: 10px !important;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color: #0fad33;
    color: white;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.body .col3 .sup:hover{
    
    animation: bigger .4s ease-in-out;
    animation-fill-mode: both;
}

.body .col3 .sup a {
    color: white;
}



/* animations */
@keyframes bigger{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}